.squares {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 600px;
    height: 600px;
    border: 2px solid #fff;
    border-radius: 4px;
}

.square {
    background-color: aqua;
    position: relative;
    border: 2px solid #fff;
    transition: all ease-out 0.4s;
}

.square.selected {
    transform: rotateY(180deg)
}

.square img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: rotateY(90deg);
    transition: all ease-out 0.2s;
}

.square img.selected {
    transform: rotateY(0deg);
    transition-delay: 0.2s;
}